body {
  margin: 0;
  padding: 0;

}

nav {
	 text-decoration: none;
    font-size: 1rem;
    background-color: grey;
}

/* Flex Container */
nav ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}

nav ul li {
	
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li:hover {
    background-color: #cccccc;
    color: white;
}

/* Responsive Nav Bar */
@media all and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }

}